.wrapper {
  height: 100px;
  width:100px;
}

.wrapper svg{
  overflow:visible;
}

.wrapper  circle{
  fill: red;
  transition: cx 0.3s ease, cy 0.3s ease, r 0.3s ease;
}

.wrapper circle:hover{
  r: 40px;
}

.circle-small:hover {
  r: 27px !important;
}

.wrapper:hover .circle-small{
  cx: var(--hx, 50px);
  cy: var(--hy, 50px);
  r: 30px
}

.main-button {
  position: absolute;
  right: 0px;
  background-color: rgba(0, 0, 255, 0);
  border: none;
  bottom: 0px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  z-index: 1;
  color: gray;
  font-size: 200%;
  cursor:pointer;
}

