.wrapper {
  height: 100px;
  width:100px;
  filter: drop-shadow(8px 6px 32.76px rgba(105, 55, 129, 0.41)) drop-shadow(-1px -2px 11px rgba(255, 255, 255, 0.12));
}

.wrapper svg{
  overflow:visible;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.wrapper > span:last-child{
  --size: 0.5px;
  --color: white;
  filter: drop-shadow(0px 0px var(--size) var(--color)) drop-shadow(0px 0px var(--size) var(--color)) drop-shadow(0px 0px var(--size) var(--color)) drop-shadow(0px 0px var(--size) var(--color)) drop-shadow(0px 0px var(--size) var(--color)) drop-shadow(0px 0px var(--size) var(--color)) drop-shadow(0px 0px var(--size) var(--color));
} 

.wrapper   > span>div>svg circle{
  fill: #ffffffc9;
  stroke: black;
  cursor:pointer;
  stroke-width: 4px;
  transition: cy 0.5s var(--transition), cx 0.5s var(--transition), r 0.6s var(--transition), transform 0.3s ease, opacity 0.3s ease, fill 0.3s ease;
}

.wrapper circle:hover{
  fill: #e1e1e1ee;
  r: 35px;
}

.circle-small{
  pointer-events:none;
}

.hovered,
.circle-small:hover {
  r: 27px !important;
  fill:black;
}

.wrapper:hover .circle-small{
  pointer-events:all;
  cx: var(--hx, 50px);
  cy: var(--hy, 50px);
  r: 30px
}

.main-button {
  position: absolute;
  pointer-events:none;
  right: 0px;
  background-color: rgba(0, 0, 255, 0);
  border: none;
  color: var(--primary-dark);
  bottom: 0px;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  border-radius: 100%;
  z-index: 1;
  font-size: 200%;
  cursor:pointer;
}

.circle-content{
  position:absolute;
  z-index: 99;
  left:50%;
  top: 50%;
  transform:translate(-50%, -50%);
  opacity:0;
  pointer-events:none;
  transition:top 0.5s var(--transition),left 0.5s var(--transition),opacity 0.3s ease,transform 0.3s var(--transition);
}


.wrapper:hover .circle-content{
  opacity:1;
  transform:translate(-50%, -50%);
  left: var(--hx);
  top: var(--hy);
}
