@font-face {
  font-family: "ApfelGrotezk";
  src: url("/fonts/ApfelGrotezk-Fett.woff2") format("woff2"),
       url("/fonts/ApfelGrotezk-Fett.woff") format("woff");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1{
  font-family:"ApfelGrotezk";
  font-size: 4em;
  font-weight: 900;
}

body{
  background: #16161E;
  overflow: hidden;
}

:root{
  --transition: cubic-bezier(0.87, 0, 0.13, 1);
  --transition: cubic-bezier(0.83, 0, 0.17, 1);
  --transition: cubic-bezier(.54,-0.18,.29,1.29);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
